<section class="page-section bg-primary h-90 pt-5" id="about">
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center mb-2">
          <h2 class="mt-3">About Me</h2>
          <hr class="divider light my-4">
          <p class=" mb-4">I was born as a regular human being but aware of

            the immense potential within me.





            My area of interest comprehends Human Personality and Individual Discovery and Self Expression Postive
            Communication, Coping Strategies to deal with Anxiety and Unworthiness and Couple interaction and
            progression on a daily basis and in particular delicate phases of their journey together.

            It's my purpose to sustain you in your individualization and growth, with my professional and empathetic
            skills allowing a real sense of awareness from within and a balanced and grounded life's outlook.



            Since I was little I was fascinated by people personalities, issues, and concerns and It's what it leads on
            my psychological path and the unconscious.

            The part the mystic tradition refers as the Soul.



            I possess a real treasure in me I want to share with you:

            The ability to understand people in deep,

            Body, Mind, and Essence thanks to my further passion for Jung'life and Transpersonal Psychological approach
            (Body, Mind and Core Self. Combined in a well-being circle)



            My way of interacting and working with clients is rare, personal and tailored case by case around their
            perspectives, believes and ultimate True Self.



            I offer one to one session supporting individuals and couples and I've got different packages you can choose
            from.



            Together we can achieve Your Best.</p>
          <a class="btn btn-light btn-xl js-scroll-trigger bu" href="#services">Get Started!</a>
        </div>
      </div>
    </div>
  </section>
