<section class="page-section rotated h-100" id="services">

    <div class="row justify-content-center pt-0 margin-top mt-2 align-self-center align-items-center">
        <div class="col-sm-7 col-md-12 mb-5  align-self-center justify-content-center align-items-center">
            <h2 class="d-block text-black mt-0">Services</h2>
            <hr class="divider black my-4">
        </div>

    </div>
    <div class="container mb-sm-2">
        <div class="row mb-3 justify-content-between">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card text-center d-flex align-items-center">
                    <div class="card-body d-flex flex-column align-items-center justify-content-around">
                        <div class="card-title">
                                <h5 >One on One Session</h5>
                                <h6>1hr | £60</h6>
                        </div>
                        
                        <p class="card-text">My psychological experience to your aid. 
                            A customized session in line with your personality and your matters. 
                            To start to discover who you really are
                            in tune with your passion, desire and deepest aspiration.
                            </p>
                            
                        <a class="btn btn-primary" href="#contact">Book now</a>
                        <!--Modal-->
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card text-center">
                    <div class="card-body d-flex flex-column align-items-center justify-content-around">
                        <h5 class="card-title">Psychological Holistic Experience</h5>
                        <h6>1hr | £70</h6>
                        <p class="card-text">Unique and interactive experience considering your body, mind and spirit as a whole. 
                            Reading your personality, body and aura field. 
                            Dream it possible. </p>
                        <a class="btn btn-primary" href="#contact">Book Now</a>
                        <!--Modal-->
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card text-center">
                    <div class="card-body d-flex flex-column align-items-center justify-content-around">
                        <h5 class="card-title">Psyche Healing Through Palm and Body</h5>
                        <h6>45Min | £30</h6>
                        <p class="card-text">
                            I combine my psychological view and my understanding of ancient philosofy and the flow of live leading you on an interactive experience where you can connect with your True Core, Your body energy by palm and body discovery.
                            </p>
                        <a class="btn btn-primary" href="#contact">Book Now</a>
                        <!--Modal-->
                        
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="card text-center">
                    <div class="card-body d-flex flex-column align-items-center justify-content-around">
                        <h5 class="card-title">Couple's Guidance</h5>
                        <h6>1hr | £80</h6>
                        <p class="card-text">Togetherness, light and Progression with the focused on the interaction between you both. 

                            A beautiful mix make you two the way you are, when you live your life and even apart. 
                            I will help you rediscover a sense of connection, sustaining your creature, your relationship with an integrative approach covering different aspects of yourself. Your path. </p>
                        <a href="#contact" class="btn btn-primary" data-toggle="modal" data-target="#modal4">Book Now</a>
                        <!--Modal-->
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>