// Variables

// Color overrides

// Set a custom color
$orange: #3cc4658c !default;
$brown: #c9e7ee !default;
$white: #ffffff !default;

// Set primary color to orange
$primary: #3cc4658c !default;

// Font overrides
$font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-family-serif: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", 'Noto Color Emoji' !default;

$font-family-base: $font-family-serif !default;

$headings-font-family: $font-family-sans-serif !default;

$font-weight-bold: bold;

$gray-900: #413d3d;

$gray-600: #4e4949;

$lg: 922px;
$xl: 1200px;

// Custom variables
$navbar-height: 72px;

//minunm smartphine
$screen-xm-min: 0px;


// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

@mixin xm {
    @media (min-width: #{$screen-xm-min}) {
        @content;
    }
 }

@mixin sm {
    @media (min-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (min-width: #{$screen-md-min}) {
        @content;
    }
 }
 
 // Large devices
 @mixin lg {
    @media (min-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
 // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }
